<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">-->

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $('#addDrink').submit(function(e) {-->
<!--                e.preventDefault();-->

<!--                $.ajax({-->
<!--                    url: '/drinks',-->
<!--                    method: 'POST',-->
<!--                    data: $('#addDrink form').serialize()-->
<!--                }).done(function() {-->
<!--                    $('#addDrink').modal('toggle')-->
<!--                    location.href = location.href;-->
<!--                }).fail(function() { alert('something went wrong')})-->

<!--            })-->

<!--            $('#saveContact').click(function(e) {-->
<!--                $('#addContact').submit();-->
<!--            })-->
<!--        })-->

<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1></h1>-->
<!--    <div>-->
<!--        <ul class="nav nav-pills nav-justified">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" aria-current="page" href="/login">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" aria-current="page" href="/registration">Registration</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div>-->
<!--        <form action="/user/logout" method="post">-->
<!--            <input type="submit" class="btn btn-danger" value="Logout">-->
<!--        </form>-->
<!--    </div>-->
<!--    <table class="table table-striped">-->
<!--        <tbody>-->

<!--        <div class="container">-->
<!--            <div class="row" style="padding-top: 10px">-->
<!--                <div class="col-md-6">-->
<!--                    <button class="btn btn-success" data-toggle="modal" data-target="#addDrink">Добавить</button>-->
<!--                </div>-->
<!--                <div class="col-md-6" style="text-align: right">-->
<!--                    <form class="form-inline float-right">-->
<!--                        <div class="form-group">-->
<!--                            <input name="q" th:value="${query}" class="form-control mb-2" placeholder="Search">-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary mb-2">Найти</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <table class="table table-bordered tab-content">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Название</th>-->
<!--                        <th>Брэнд</th>-->
<!--                        <th>Цена</th>-->
<!--                        <th>Количество</th>-->
<!--                        <th>Тип</th>-->

<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="item: ${drinks}">-->
<!--                        <td th:text="${item.name}" />-->
<!--                        <td th:text="${item.brand}" />-->
<!--                        <td th:text="${item.price}" />-->
<!--                        <td th:text="${item.quantity}" />-->
<!--                        <td th:text="${item.typ}" />-->

<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

<!--                <nav aria-label="Page navigation example">-->
<!--                    <ul class="pagination">-->
<!--                        <li class="page-item" th:if="${hasPrev}"><a class="page-link" th:href="@{/drinks(page=${currentPage - 1})}">Previous</a></li>-->
<!--                        <li class="page-item" th:classappend="${page == currentPage} ? 'active'" th:each="page: ${#numbers.sequence(minPage, maxPage)}"><a class="page-link" th:href="@{/drinks(page=${page})}" th:text="${page}"></a></li>-->
<!--                        <li class="page-item" th:if="${hasNext}"><a class="page-link" th:href="@{/drinks(page=${currentPage + 1})}">Next</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->

<!--    </table>-->
<!--    <a class="btn btn-secondary" aria-current="page" href="/drinks" role="button"-->
<!--       >GO to Drinks</a>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->